
#CFH {
    background-color: purple; 
    font-size: 55px; 
    padding: 20px;

}


.Flex-container {
    display: flex; 
    font-family: serif;
    font-size: 20px;
    color: white;
    background-color: black;
    justify-content: space-between; 
    align-items: center;
}

.unordered-list {
    display: flex;
}

ul {
    list-style-type: none;
}
.unordered-list li {
    padding: 15px;
}




